.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    &__canvas {
        position: absolute;
        inset: 0;
    }

    &__online {
        cursor: pointer;
        z-index: 10;
    }
}