.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;

    &__canvas {
        position: absolute;
        inset: 0;
    }

    &__online {
        cursor: pointer;
        z-index: 10;
        transition: 150ms ease-in-out;
        transition-property: transform color;
        transform: scale(1);
    }

    &__online:hover {
        color: #00ffff;
        transition-property: transform color;
        transition: 150ms ease-in-out;
        transform: scale(1.5);
    }

    &__join {
        z-index: 10;
        text-align: center;
        outline: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 1.5rem;
    }
}